.info {
  margin: 40px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #283238;
}

.conainer_error {
  max-width: 508px;
  margin-left: 106px;
  margin-top: 97px;
}
.error {
  color: #65184e;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
}
.link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #676767;
}
.ref_color {
  font-family: Roboto;
  color: #65184e;
}

@media (max-width: 504px) {
  .conainer_error {
    max-width: 800px;
    margin-left: 20px !important;
    margin-top: 97px;
  }
}
