.info {
  margin: 40px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #283238;
}

.conainer_error {
  max-width: 800px;
  margin-left: 106px;
  margin-top: 97px;
}

.error {
  color: #65184e;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
}
.link {
  max-width: 507px;
  margin-left: 0;
  font-size: 16px;
  color: #676767;
}
.ref_color {
  font-family: Roboto;
  color: #65184e;
}

.container_input {
  display: flex;
  width: 100%;
}
.div_input {
  width: 65%;
  max-width: 507px;
  position: relative;
}
.floating_label_input {
  width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  height: 50px;
}
.div_button {
  width: 45%;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.button_general {
  margin-left: 10px;
  cursor: pointer;
  padding: 16px 24px;

  background: #283238;
  border: none;
  border-radius: 8px;

  font-weight: 500;
  font-size: 18px;
  line-height: 18px;

  color: #fff;
}

.button_img {
  margin-left: 5px;
  vertical-align: bottom;
  filter: brightness(0) invert(1);
}

@media (max-width: 504px) {
  .conainer_error {
    max-width: 800px;
    margin-left: 20px !important;
    margin-top: 97px;
  }

  .info {
    width: 100%;
  }

  .container_input {
    display: inline !important;
  }

  .div_input {
    width: 100% !important;
  }

  .div_button {
    width: 100%;
    margin-top: 20px;
  }

  .link {
    width: 80%;
  }
}
